form {
    display: flex;
    justify-content: center;
}

.button {
    outline: none;
    background-color: burlywood;
    color: white;
    font-size: 3vmin;
    border-radius: 100%;
    width: 20vmin;
    height: 20vmin;
    border: none;
    transition: background-color 0.2s ease-in;
}

.button-wrap {
    margin: 10vmin;
    padding: 2vmin;
}

.button:hover {
    background-color: darkkhaki;
}
